@import "tailwindcss";
@plugin "daisyui";



.active {
  position: relative;
  color:  #FF9671;;
  transition: color 0.3s ease;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 100%;
  height: 2px;
  background-color: #FF9671;;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.active:hover {
  color: green;
}

.active:hover::after {
  transform: scaleX(1.1);
}
